@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

@layer components {
    .articulos__button {
        @apply py-2 font-bold border-2 border-orange hidden lg:inline-block;
    } 
    
    .articulos__button--active {
        @apply bg-orange relative;
    }
    .articulos__button--active:after {
        @apply bg-black;
        content: " ";
        position: absolute;
        display: block;
        top: 190%;
        left: 50%;
        width: 46px;
        height: 34px;
        transform: translate(-50%, -50%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    .articulos__panel {
        @apply bg-black mt-12 py-16 hidden;
    }
    .articulos__panel--active {
        @apply hidden lg:block;
    }
}