<div class="articulos__panel articulos__panel--active">
    <div class="mx-auto max-w-xl w-11/12 lg:w-auto">
        <p class="text-white font-medium text-base lg:text-lg xl:text-xl">
            En esta nueva entrega, la Fundación Karisma, en alianza con Datasketch y con el apoyo del proyecto de gobernanza de datos de la Iniciativa Latinoamericana por los Datos Abiertos -ILDA-, analizan el borrador del Plan Nacional de Infraestructura de Datos -PNID- y el Modelo de Gobernanza de la Infraestructura de Datos para el Desarrollo de Tecnologías Emergentes en el cual está fundamentado.
        </p>
        <div class="text-center mt-10">
            <a href="https://web.karisma.org.co/el-pnid-del-gobierno-a-la-gobernanza-de-datos/" target="_blank" class="py-2 font-bold border-2 border-orange text-orange inline-block" style="width: 173px;">
                Artículo completo
            </a>
        </div>
    </div>
</div>
<div class="articulos__panel">
    <div class="mx-auto max-w-xl w-11/12 lg:w-auto">
        <p class="text-white font-medium text-base lg:text-lg xl:text-xl">
            En el marco de la alianza entre la Fundación Karisma, Datasketch y con el apoyo del proyecto de gobernanza de datos de la Iniciativa Latinoamericana por los Datos Abiertos -ILDA-, continúan los comentarios a los diferentes componentes del Plan Nacional de Infraestructura de Datos -PNID-. En particular, en este documento se analiza la propuesta del Data Marketplace.
        </p>
        <div class="text-center mt-10">
            <a href="https://web.karisma.org.co/data-marketplace-repositorio-de-datos-acuerdos-para-compartir-datos-o-espacio-para-comprar-y-vender-datos/" target="_blank" class="py-2 font-bold border-2 border-orange text-orange inline-block" style="width: 173px;">
                Artículo completo
            </a>
        </div>
    </div>
</div>
<div class="articulos__panel">
    <div class="mx-auto max-w-xl w-11/12 lg:w-auto">
        <p class="text-white font-medium text-base lg:text-lg xl:text-xl">
            En septiembre de 2021 se publicó el el borrador del Plan Nacional de Infraestructura de Datos de Colombia (PNID). Desde Datasketch y la Fundación Karisma, con apoyo de la Iniciativa Latinoamericana por los Datos Abiertos (ILDA), analizamos el documento. 
        </p>
        <div class="text-center mt-10">
            <a href="https://www.datasketch.co/es/blog/reflections-for-democratic-data-governance-in-colombia/" target="_blank" class="py-2 font-bold border-2 border-orange text-orange inline-block" style="width: 173px;">
                Artículo completo
            </a>
        </div>
    </div>
</div>