<footer class="bg-black py-12 lg:py-16 xl:py-20">
    <div class="grid grid-cols-2 xl:grid-cols-12 items-center gap-y-20 xl:gap-y-0">
        <div class="xl:col-start-1 xl:col-end-4 order-4 xl:order-1">
            <img src='{{ "images/footer@2x.png" | absURL }}' alt="footer image">
        </div>
        <div class="xl:col-start-5 xl:col-end-7 flex flex-col justify-between h-full oder-1 xl:order-2 ml-auto w-10/12 space-y-10 xl:space-y-0">
            <img class="mx-auto" src='{{ "images/ILDA_Blanca@2x.png" | absURL }}' style="width: 180px; height: 68px;" alt="Logo ILDA">
            <img class="mx-auto" src='{{ "images/fundacion-karisma.svg" | absURL }}' style="width: 190px; height: 63px;" alt="Logo Fundación Karisma">
            <img class="mx-auto" src='{{ "images/datasketch-footer.svg" | absURL }}' style="width: 190px; height: 85px;" alt="Logo Datasketch">
        </div>
        <ul class="text-white xl:col-start-8 xl:col-end-10 h-full flex flex-col justify-between order-2 xl:order-3 ml-auto w-10/12">
            <li>
                <h3>ILDA</h3>
                <p>ilda@correo.co</p>
                <div class="flex items-center space-x-6 mt-2">
                    <a href="#">
                        <img src='{{ "images/twitter.svg" | absURL }}' alt="media social">
                    </a>
                    <a href="#">
                        <img src='{{ "images/facebook.svg" | absURL }}' alt="media social">
                    </a>
                    <a href="#">
                        <img src='{{ "images/instagram.svg" | absURL }}' alt="media social">
                    </a>
                </div>
            </li>
            <li>
                <h3>Karisma</h3>
                <p>Karisma@correo.co</p>
                <div class="flex items-center space-x-6 mt-2">
                    <a href="#">
                        <img src='{{ "images/twitter.svg" | absURL }}' alt="media social">
                    </a>
                    <a href="#">
                        <img src='{{ "images/facebook.svg" | absURL }}' alt="media social">
                    </a>
                    <a href="#">
                        <img src='{{ "images/instagram.svg" | absURL }}' alt="media social">
                    </a>
                </div>
            </li>
            <li>
                <h3>Datacketch</h3>
                <p>hola@datasketch.co</p>
                <div class="flex items-center space-x-6 mt-2">
                    <a href="#">
                        <img src='{{ "images/twitter.svg" | absURL }}' alt="media social">
                    </a>
                    <a href="#">
                        <img src='{{ "images/facebook.svg" | absURL }}' alt="media social">
                    </a>
                    <a href="#">
                        <img src='{{ "images/instagram.svg" | absURL }}' alt="media social">
                    </a>
                </div>
            </li>
        </ul>
        <div class="text-white col-start-1 col-end-3 xl:col-start-10 xl:col-end-12 h-full order-3 xl:order-4 w-10/12 mx-auto">
            <h3 class="font-bold">Articulos</h3>
            <ul class="flex flex-col justify-between h-full mt-2">
                <li>
                    <span class="font-bold">1.</span>
                    El PNID: ¿del gobierno a la gobernanza de datos?
                </li>
                <li>
                    <span class="font-bold">2.</span>
                    Data Marketplace: ¿repositorio de datos, acuerdos para compartir datos o espacio para comprar y vender datos?
                </li>
                <li>
                    <span class="font-bold">3.</span>
                    Gobernanza de datos en Colombia: Seguimiento al Plan Nacional de Infraestructura de Datos
                </li>
            </ul>
        </div>
    </div>
</footer>