{{ define "main" }}
<div class="bg-black pt-24 lg:pt-36 xl:pt-40" style="height: 950px;">
    <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
        <div class="lg:w-5/12">
            <img class="w-6/12 lg:w-full" src='{{ "images/gobernanza@2x.png" | absURL }}' alt="gobernanza">
        </div>
        <div class="w-10/12 mx-auto lg:w-6/12">
            <div class="max-w-xl flex flex-col space-y-6">
                <h1 class="text-orange text-4xl lg:text-5xl xl:text-6xl font-bold">
                    Gobernanza de datos en Colombia
                </h1>
                <h2 class="text-white font-medium text-2xl lg:text-3xl xl:text-4xl">
                    Un análisis del Plan Nacional de Infraestructura de Datos
                </h2>
                <div class="bg-orange" style="width: 110px; height: 4px;">&nbsp;</div>
                <p class="text-white font-medium text-base lg:text-lg xl:text-xl">
                    La Fundación Karisma y Datasketch, con patrocinio de la Iniciativa Latinoamericana por los Datos Abiertos (ILDA), revisamos el borrador del Plan Nacional de Infraestructura de Datos de Colombia, publicado por el Gobierno en septiembre de 2021 para comentarios. Esto fue lo que encontramos.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pt-12 lg:pt-16 xl:pt-20 mb-12 lg:mb-16 xl:mb-20 bg-white mx-auto w-10/12 relative z-10 -mt-52 shadow">
    <div class="text-center">
        <img class="mx-auto" src='{{ "images/articulos@2x.png" | absURL }}' alt="articulos">
        <h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold mt-2">Artículos</h2>
    </div>
    <div class="mx-auto w-10/12 mt-16">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-12 lg:gap-x-28 articulos">
            <div class="h-full flex flex-col justify-between">
                <div>
                    <span class="block text-center text-blue text-3xl lg:text-4xl xl:text-5xl font-bold border-b-4 border-blue pb-5">
                        1
                    </span>
                    <div class="py-5">
                        <span class="block italic font-medium xl:text-lg">Karisma</span>
                        <h3 class="text-base lg:text-lg xl:text-xl font-bold my-2">
                            El PNID: ¿del gobierno a la gobernanza de datos?
                        </h3>
                        <span class="block italic font-medium xl:text-lg">Julio 28 del 2021</span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="articulos__button articulos__button--active" style="width: 173px;" data-id="0">
                        Ver más
                    </button>
                    <a href="#" class="py-2 font-bold border-2 border-orange text-orange inline-block lg:hidden" style="width: 173px;">
                        Artículo completo
                    </a>
                </div>
            </div>
            <div class="h-full flex flex-col justify-between">
                <div>
                    <span class="block text-center text-blue text-3xl lg:text-4xl xl:text-5xl font-bold border-b-4 border-blue pb-5">
                        2
                    </span>
                    <div class="py-5">
                        <span class="block italic font-medium xl:text-lg">Karisma</span>
                        <h3 class="text-base lg:text-lg xl:text-xl font-bold my-2">
                            Data Marketplace: ¿repositorio de datos, acuerdos para compartir datos o espacio para comprar y vender datos?
                        </h3>
                        <span class="block italic font-medium xl:text-lg">Julio 28 del 2021</span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="articulos__button" style="width: 173px;" data-id="1">
                        Ver más
                    </button>
                    <a href="#" class="py-2 font-bold border-2 border-orange text-orange inline-block lg:hidden" style="width: 173px;">
                        Artículo completo
                    </a>
                </div>
            </div>
            <div class="h-full flex flex-col justify-between">
                <div>
                    <span class="block text-center text-blue text-3xl lg:text-4xl xl:text-5xl font-bold border-b-4 border-blue pb-5">
                        3
                    </span>
                    <div class="py-5">
                        <span class="block italic font-medium xl:text-lg">Datasketch</span>
                        <h3 class="text-base lg:text-lg xl:text-xl font-bold my-2">
                            Reflexiones para una gobernanza de datos democrática en Colombia
                        </h3>
                        <span class="block italic font-medium xl:text-lg">Julio 28 del 2021</span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="articulos__button" style="width: 173px;" data-id="2">
                        Ver más
                    </button>
                    <a href="#" class="py-2 font-bold border-2 border-orange text-orange inline-block lg:hidden" style="width: 173px;">
                        Artículo completo
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{ partial "articulos-panel.html" . }}
    <div class="pt-12 lg:pt-16 xl:pt-20">
        <div class="text-center mx-auto max-w-xl w-10/12 lg:w-auto">
            <img class="mx-auto" srcset="/images/explora-los-datos.png 1x, /images/explora-los-datos@2x.png 2x" alt="articulos">
            <h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold mt-2">Explora los datos</h2>
            <p class="mt-5 text-base lg:text-lg xl:text-xl">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="mt-12">
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrFKf6G0Hk0xQ7VJ?backgroundColor=purple&layout=card" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
    </div>
</div>
{{ end }}